<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="lib/jquery-ui/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="res/css/bootstrap-social.css">
    <link rel="stylesheet" href="lib/jquery-ui/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="res/css/myStyle.css">
    
    <script src="res/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="res/js/vendor/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="res/js/db-connection.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-messages.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="https://cdn.firebase.com/js/simple-login/1.6.4/firebase-simple-login.js"></script>
    <script src="res/js/module-.js"></script>
    <script src="res/js/module-data.js"></script>

</head>
<body ng-app="module-data" ng-controller="controller-data as cData">
    <div id="mainContainer">
        <nav class="topMenu menu" id="loginnav">
            <a class="hovereableToggle" href="index.html">Inicio</a>
            <a class="hovereableToggle" href="#avistamientos">Avistamientos</a>
            <a class="hovereableToggle" href="criteria.html">Criterios</a>
            <a class="hovereableToggle" href="entities.html">Entidades</a>            
            <a class="hovereableToggle" href="#contacto">Contacto</a>
            <a href="#"><input type="text" class="logInInput" id="txtemail" placeholder="e-Mail..." ng-model="cData.email"></a>
            <a href="#"><input type="password" class="logInInput" id="txtpassword" placeholder="Contraseña..." ng-model="cData.password"></a>
            <a href="#"><input type="button" class="logInInput" value="Conectarse" ng-click="cData.signIn();"></a>
            <a href="#"><input type="button" class="logInInput" value="Desconectarse" ng-click="cData.signOut();"></a>
            <a href=""><span id="currentUserA">Visitante</span></a>
        </nav>
        <section id="mainContent">
            <p>Nuevo criterio:</p><br>
            <input type="text" placeholder="Criterio..." ng-model="cData.criteriaDescription_"><br>
            <textarea name="" id="" cols="30" rows="10" placeholder="Respuestas posibles (una por renglon)..." ng-model="cData.criteriaOptions"></textarea><br>
            <select ng-model="cData.criteriaDescription" id="cbocriteria" ng-change="cData.changeOptions()">
                <option ng-repeat="(key, value) in cData.criterias" value="{{key}}">{{value.criteriaDescription}}</option>
            </select>
            <input type="button" value="Test" ng-click="cData.test();">
            <input type="button" value="Agregar criterio!" ng-click="cData.addCriteria();">
            <input type="button" value="Borrar criterio!" ng-click="cData.deleteCriteria();">
        </section>
    </div>
</body>
</html>